[Unit]
Description=OpenTelemetry Collector OTLP
After=network.target

[Service]
EnvironmentFile=/etc/otelcol-otlp/otelcol-otlp.conf
ExecStart=/usr/bin/otelcol-otlp $OTELCOL_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
Restart=on-failure
Type=simple
User=otelcol-otlp
Group=otelcol-otlp

[Install]
WantedBy=multi-user.target
