<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
   <Product
      Name="OpenTelemetry OpAMP Supervisor ({{ .Version }})"
      Id="*"
      UpgradeCode="457B2070-3249-4092-A99E-EF8F7D2F5534"
      Version="{{ if .IsSnapshot }}{{ .RawVersion }}{{ else }}{{ .Version }}{{ end }}"
      Manufacturer="OpenTelemetry"
      Language="1033">

      <Package
         InstallerVersion="200"
         Compressed="yes"
         Comments="Windows Installer Package"
         InstallScope="perMachine"/>
      <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>
      <Icon Id="ProductIcon" SourceFile="opentelemetry.ico"/>
      <Property Id="ARPPRODUCTICON" Value="ProductIcon"/>
      <Property Id="ARPHELPLINK" Value="https://opentelemetry.io/"/>
      <Property Id="ARPURLINFOABOUT" Value="https://opentelemetry.io/"/>
      <Property Id="ARPNOREPAIR" Value="1"/>
      <Property Id="ARPNOMODIFY" Value="1"/>

      <MajorUpgrade
         DowngradeErrorMessage="A later version of the OpenTelemetry OpAMP Supervisor is already installed. Setup will now exit."/>

      <Feature Id="Feature" Level="1">
         <ComponentRef Id="ApplicationComponent"/>
      </Feature>

      <Property Id="SUPERVISOR_SVC_ARGS"/>
      <CustomAction
         Id="SetSupervisorSvcArgs"
         Property="SUPERVISOR_SVC_ARGS"
         Value="--config &quot;[INSTALLDIR]config.yaml&quot;"/>

      <InstallExecuteSequence>
         <Custom Action="SetSupervisorSvcArgs" Before="InstallFiles">NOT SUPERVISOR_SVC_ARGS</Custom>
      </InstallExecuteSequence>

      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLDIR" Name="OpenTelemetry OpAMP Supervisor">
               <Component Id="ApplicationComponent" Guid="0FE94277-1637-4469-858C-10795FD73DA8">
                  <!-- Files to include -->
                  <File
                     Id="{{ replace .Binary "-"  "_"}}.exe"
                     Name="{{ .Binary }}.exe"
                     Source="{{ .Binary }}.exe"
                     KeyPath="yes"/>
                  <File
                     Id="config.example.yaml"
                     Name="config.example.yaml"
                     Source="config.windows.example.yaml"/>

                  <ServiceInstall
                     Id="Sevice"
                     Name="{{ .Binary }}"
                     DisplayName="OpenTelemetry OpAMP Supervisor"
                     Description="Supervises an OpenTelemetry Collector and manages its configuration."
                     Type="ownProcess"
                     Vital="yes"
                     Start="demand"
                     Account="LocalSystem"
                     ErrorControl="normal"
                     Arguments="[SUPERVISOR_SVC_ARGS]"
                     Interactive="no"/>
                  <ServiceControl
                     Id="StopRemoveService"
                     Name="{{ .Binary }}"
                     Stop="both"
                     Remove="uninstall"
                     Wait="yes"/>

                  <RegistryKey
                     Root="HKLM"
                     Key="SYSTEM\CurrentControlSet\Services\EventLog\Application\{{ .Binary }}">
                     <RegistryValue
                        Type="expandable"
                        Name="EventMessageFile"
                        Value="%SystemRoot%\System32\EventCreate.exe"/>
                  </RegistryKey>
               </Component>
            </Directory>
         </Directory>
      </Directory>
   </Product>
</Wix>
