name: CI - Other Binaries

on:
  workflow_call:
    inputs:
      binary:
        required: true
        type: string
        description: "Which binary to build. Possible options: ['builder', 'opampsupervisor']"
      collector-dependency:
        required: false
        type: string
        default: ""
        description: "Set this to the repo slug of collector core or contrib to check out if it's needed as a dependency"
      dependency-target-folder:
        required: false
        type: string
        default: ""
        description: "The collector dependency will be put into this folder"
      linux-packages:
        required: false
        type: boolean
        default: false
        description: "Set to true if linux packages should be uploaded as an artifact"

permissions:
  contents: read

env:
  # renovate: datasource=github-releases packageName=goreleaser/goreleaser-pro
  GORELEASER_PRO_VERSION: v2.12.7

jobs:
  check-goreleaser:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Releases Repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - name: Checkout Collector dependency repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          repository: ${{ inputs.collector-dependency }}
          path: ${{ inputs.dependency-target-folder }}

      - name: Copy Dockerfile to Core Repo directory
        run: cp cmd/${{ inputs.binary }}/Dockerfile ${{ inputs.dependency-target-folder }}/cmd/${{ inputs.binary }}/Dockerfile

      - uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: "v2.6.1"

      - uses: anchore/sbom-action/download-syft@fbfd9c6c189226748411491745178e0c2017392d # v0.20.10

      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        with:
          platforms: amd64,arm64,ppc64le,riscv64

      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: "~1.25.0"

      - name: Check GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          distribution: goreleaser-pro
          version: ${{ env.GORELEASER_PRO_VERSION }}
          args: check --verbose -f cmd/${{ inputs.binary }}/.goreleaser.yaml
        env:
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          distribution: goreleaser-pro
          version: ${{ env.GORELEASER_PRO_VERSION }}
          args: --snapshot --clean -f cmd/${{ inputs.binary }}/.goreleaser.yaml --skip sign
        env:
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COSIGN_YES: false

      - name: Upload linux service packages
        if: ${{ inputs.linux-packages == true }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: linux-packages
          path: |
            dist/*amd64*.deb
            dist/*amd64*.rpm
          if-no-files-found: error
