name: Reusable GoReleaser CI workflow

on:
  workflow_call:
    inputs:
      distribution:
        required: true
        type: string
      goos:
        required: true
        type: string
      goarch:
        required: true
        type: string
      runner_os:
        required: false
        type: string
        default: ubuntu-24.04
      nightly:
        required: false
        type: boolean
        default: false
        description: "Set to true to fetch latest otelcol-contrib main branch version instead of building the version in this repo"
      config_file:
        required: false
        type: string
        default: default-config.yaml
      docker_run_options:
        required: false
        type: string
      otelcol_run_options:
        required: false
        type: string

permissions:
  contents: read

env:
  # renovate: datasource=github-releases packageName=goreleaser/goreleaser-pro
  GORELEASER_PRO_VERSION: v2.12.7

jobs:
  prev-tag:
    outputs:
      PREVIOUS_RELEASE_TAG: ${{ steps.prev-tag.outputs.PREVIOUS_RELEASE_TAG }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
      - name: Set goreleaser last tag reference in case of non-nightly release
        id: prev-tag
        if: inputs.nightly != 'true'
        # find previous tag by filtering out nightly tags and binary release (OCB, OpAMP) tags and then choosing the
        # second to last tag (last one is the current release)
        run: |
          prev_tag=$(git tag | grep -v "cmd" | grep -v "nightly" | sort -r --version-sort | head -n 2 | tail -n 1)
          echo "PREVIOUS_RELEASE_TAG=$prev_tag" >> "$GITHUB_OUTPUT"

  check-goreleaser:
    strategy:
      matrix:
        GOOS: ${{ fromJSON( inputs.goos) }}
        GOARCH: ${{ fromJSON( inputs.goarch) }}
        exclude:
          - GOOS: darwin
            GOARCH: "386"
          - GOOS: darwin
            GOARCH: s390x
          - GOOS: windows
            GOARCH: arm64
          - GOOS: darwin
            GOARCH: arm
          - GOOS: windows
            GOARCH: arm
          - GOOS: windows
            GOARCH: s390x
          - GOOS: darwin
            GOARCH: ppc64le
          - GOOS: windows
            GOARCH: ppc64le
          - GOOS: darwin
            GOARCH: riscv64
          - GOOS: windows
            GOARCH: riscv64
    runs-on: ${{ inputs.runner_os }}
    needs: prev-tag
    outputs:
      version: ${{ steps.prep.outputs.version }}

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - name: Setup QEMU
        if: runner.os != 'Windows'
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        with:
          platforms: arm64,ppc64le,linux/arm/v7,s390x,riscv64

      - name: Setup wixl # Required to build MSI packages for Windows
        if: runner.os != 'Windows'
        run: |
          sudo apt-get update
          sudo apt-get install -y wixl

      - name: Setup Docker Buildx
        if: runner.os != 'Windows'
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: "~1.25.0"
          check-latest: true

      - name: Create artifacts directory to store build artifacts
        if: inputs.distribution == 'otelcol-contrib'
        run: mkdir -p distributions/otelcol-contrib/artifacts

      - name: "[Nightly] Get latest finished run ID from contrib repo build-and-test"
        id: get-run-id
        if: inputs.distribution == 'otelcol-contrib' && inputs.nightly == true && matrix.GOARCH == 'amd64' && matrix.GOOS == 'linux'
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          run_id=$(gh run list \
            --branch main \
            --workflow build-and-test \
            --repo open-telemetry/opentelemetry-collector-contrib \
            --limit 1 \
            --status success \
            --json databaseId \
            --jq '.[0].databaseId' \
          )
          echo "Found run ID: $run_id"
          echo "run_id=$run_id" >> "$GITHUB_OUTPUT"

      - name: "[Nightly] Create sub-directory for otelcol-contrib nightly build"
        if: inputs.distribution == 'otelcol-contrib' && inputs.nightly == true && matrix.GOARCH == 'amd64' && matrix.GOOS == 'linux'
        run: mkdir -p distributions/otelcol-contrib/artifacts/otelcol-contrib_linux_amd64_v1

      - name: "[Nightly] Download built otelcol-contrib artifact from contrib repo"
        if: inputs.distribution == 'otelcol-contrib' && inputs.nightly == true && matrix.GOARCH == 'amd64' && matrix.GOOS == 'linux'
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: collector-binaries-linux-amd64
          repository: open-telemetry/opentelemetry-collector-contrib
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ steps.get-run-id.outputs.run_id }}

      - name: "[Nightly] Move downloaded artifact"
        if: inputs.distribution == 'otelcol-contrib' && inputs.nightly == true && matrix.GOARCH == 'amd64' && matrix.GOOS == 'linux'
        env:
          folder: distributions/otelcol-contrib/artifacts/otelcol-contrib-linux_linux_amd64_v1/
        run: |
          mkdir -p ${{ env.folder }}
          mv otelcontribcol_linux_amd64 ${{ env.folder }}/otelcol-contrib

      - name: Generate the sources for ${{ inputs.distribution }}
        if: inputs.nightly != true
        env:
          DISTRIBUTIONS: ${{ inputs.distribution }}
        run: make generate-sources

        # otelcol-contrib is built in a separate stage
      - name: Build ${{ inputs.distribution }}
        if: inputs.distribution == 'otelcol-contrib' && inputs.nightly != true
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          distribution: goreleaser-pro
          version: ${{ env.GORELEASER_PRO_VERSION }}
          workdir: distributions/otelcol-contrib
          args: --snapshot --clean --timeout 2h --split --config .goreleaser-build.yaml
        env:
          GOOS: ${{ matrix.GOOS }}
          GOARCH: ${{ matrix.GOARCH }}
          GOARM: "7" # Default is 6
          GOAMD64: v1
          GOPPC64: power8
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
          GORELEASER_PREVIOUS_TAG: ${{ needs.prev-tag.outputs.PREVIOUS_RELEASE_TAG }}

      - name: Move built artifacts
        if: inputs.distribution == 'otelcol-contrib' && inputs.nightly != true
        run: mv distributions/otelcol-contrib/dist/**/* distributions/otelcol-contrib/artifacts/

      - name: Show built or downloaded content
        if: inputs.distribution == 'otelcol-contrib' && runner.os != 'Windows'
        run: ls -laR distributions/otelcol-contrib/artifacts

      - name: Run GoReleaser for ${{ inputs.distribution }}
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          distribution: goreleaser-pro
          version: ${{ env.GORELEASER_PRO_VERSION }}
          workdir: distributions/${{ inputs.distribution }}
          args: --snapshot --clean --skip=sign,sbom --timeout 2h --split
        env:
          GOOS: ${{ matrix.GOOS }}
          GOARCH: ${{ matrix.GOARCH }}
          GOARM: "7" # Default is 6
          GOAMD64: v1
          GOPPC64: power8
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
          GORELEASER_PREVIOUS_TAG: ${{ needs.prev-tag.outputs.PREVIOUS_RELEASE_TAG }}

      - name: Print built artifacts
        run: cat ./distributions/${{ inputs.distribution }}/dist/**/artifacts.json

      - name: Print metadata
        run: cat ./distributions/${{ inputs.distribution }}/dist/**/metadata.json

      - name: Print dist folder contents
        if: always() && runner.os != 'Windows'
        run: ls -laR ./distributions/${{ inputs.distribution }}/dist

      - name: Upload linux service packages
        if: ${{ matrix.GOOS == 'linux' && matrix.GOARCH == 'amd64' && (inputs.distribution == 'otelcol-contrib' || inputs.distribution == 'otelcol') }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: linux-packages
          path: distributions/${{ inputs.distribution }}/dist/linux_amd64_v1/*
          if-no-files-found: error

      - name: Upload MSI packages
        if: matrix.GOOS == 'windows' && matrix.GOARCH == 'amd64' && (inputs.distribution == 'otelcol-contrib' || inputs.distribution == 'otelcol')
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: msi-packages
          path: distributions/${{ inputs.distribution }}/dist/windows_amd64_v1/**/*.msi
          if-no-files-found: error

      - name: Prepare variables
        if: matrix.GOOS == 'linux' || matrix.GOOS == 'windows'
        id: prep
        shell: bash
        run: |
          # Find version number and types of built artifacts
          version=$(cat ./distributions/${{ inputs.distribution }}/dist/**/metadata.json | jq -r '.version')
          arch="${{ matrix.GOOS }}-${{ matrix.GOARCH }}"
          
          echo "version=$version" >> $GITHUB_OUTPUT
          echo "arch=$arch" >> $GITHUB_OUTPUT
          echo "types=$(cat ./distributions/${{ inputs.distribution }}/dist/**/artifacts.json | jq '[.[].type]' | tr -d '\n' )" >> $GITHUB_OUTPUT
          
          # Find binary path
          echo "binarypath=$(cat ./distributions/${{ inputs.distribution }}/dist/**/artifacts.json | jq -r 'map(select(any(.type; contains("Binary")))) | .[].path' )" >> "$GITHUB_OUTPUT"
          
          echo "TAG=${{ inputs.distribution }}:$version-$arch" >> $GITHUB_ENV


      - name: Print version and target
        if: matrix.GOOS == 'linux' || matrix.GOOS == 'windows'
        run: |
          echo 'Version: ${{ steps.prep.outputs.version }}'
          echo 'Types: ${{ steps.prep.outputs.types }}'
          echo 'Arch: ${{ steps.prep.outputs.arch }}'
          echo 'Binary path: ${{ steps.prep.outputs.binarypath }}'
          echo 'Images?: ${{ steps.prep.outputs.container-images }}'
          echo 'Image tag: ${{ env.TAG }}'

      - name: Copy binary to distro root folder
        if: matrix.GOOS == 'linux' || matrix.GOOS == 'windows'
        run: cp ./distributions/${{ inputs.distribution }}/${{ steps.prep.outputs.binarypath }} ./distributions/${{ inputs.distribution }}

      - name: Build container images locally (Linux)
        if: matrix.GOOS == 'linux' && contains(steps.prep.outputs.types, 'Docker Image')
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ./distributions/${{ inputs.distribution }}
          push: false
          load: true
          tags: ${{ env.TAG }}

      - name: Build container images locally (Windows)
        if: matrix.GOOS == 'windows' && contains(steps.prep.outputs.types, 'Docker Image')
        run: |
          docker build -f ./distributions/${{ inputs.distribution }}/Windows.dockerfile `
            -t ${{ env.TAG }} `
            --build-arg WIN_VERSION=2022 `
            ./distributions/${{ inputs.distribution }}/

      - name: Export container image to tarball
        if: (matrix.GOOS == 'linux' || matrix.GOOS == 'windows') && contains(steps.prep.outputs.types, 'Docker Image')
        run: |
          docker save ${{ env.TAG }} > ${{ runner.temp }}/${{ inputs.distribution }}.tar

      - name: Upload container image artifact
        if: (matrix.GOOS == 'linux' || matrix.GOOS == 'windows') && contains(steps.prep.outputs.types, 'Docker Image')
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ inputs.distribution }}-image-${{ steps.prep.outputs.version }}-${{ steps.prep.outputs.arch }}
          path: ${{ runner.temp }}/${{ inputs.distribution }}.tar
          retention-days: 7

  docker-tests:
    needs:
      - check-goreleaser
    strategy:
      matrix:
        GOOS: ${{ fromJSON( inputs.goos) }}
        GOARCH: ${{ fromJSON( inputs.goarch) }}
        exclude:
          - GOOS: darwin
          - GOOS: windows
            GOARCH: "386"
          - GOOS: windows
            GOARCH: arm64
    runs-on: ${{ inputs.runner_os }}
    env:
      TAG: ${{ needs.check-goreleaser.outputs.version }}-${{ matrix.GOOS }}-${{ matrix.GOARCH }}
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup QEMU
        if: runner.os != 'Windows'
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        with:
          platforms: arm64,ppc64le,linux/arm/v7,s390x,riscv64

      - name: Download container image artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: ${{ inputs.distribution }}-image-${{ env.TAG }}

      - name: Load image into docker
        run: |
          docker image load --input ./${{ inputs.distribution }}.tar
          docker image ls
          docker image inspect ${{ inputs.distribution }}:${{ env.TAG }}

      - name: Run container image (Linux)
        if: matrix.GOOS == 'linux'
        run: |
          echo "Running container..."
          docker run --name ${{ inputs.distribution }} \
            -d \
            ${{ inputs.docker_run_options }} \
            -v ${PWD}/tests/docker-tests/${{ inputs.config_file }}:/config.yaml \
            ${{ inputs.distribution }}:${{ env.TAG }} \
            ${{ inputs.otelcol_run_options }} --config /config.yaml
          echo "docker ps:"
          echo ""
          docker ps
          echo "Sleeping for a bit..."
          sleep 10
          echo "Checking logs for correct startup..."
          docker logs ${{ inputs.distribution }} &>docker-logs-${{ inputs.distribution }}.log
          if cat docker-logs-${{ inputs.distribution }}.log | grep "Everything is ready."; then
            echo "${{ inputs.distribution }} started up correctly"
          else
            echo "${{ inputs.distribution }} failed to start"
            echo "Printing container logs below..."
            echo ""
            cat docker-logs-${{ inputs.distribution }}.log
            exit 1
          fi

      - name: Run container image (Windows)
        if: matrix.GOOS == 'windows'
        run: |
          echo "Running container..."
          docker run --name ${{ inputs.distribution }} `
            -d `
            ${{ inputs.docker_run_options }} `
            -v ${PWD}\tests\docker-tests:C:\config `
            ${{ inputs.distribution }}:${{ env.TAG }} `
            --config C:\config\${{ inputs.config_file }} `
            ${{ inputs.otelcol_run_options }}
          echo "docker ps:"
          echo ""
          docker ps
          echo "Sleeping for a bit..."
          sleep 10
          echo "Checking logs for correct startup..."
          docker logs ${{ inputs.distribution }} *> "docker-logs-${{ inputs.distribution }}.log"
          if (Get-Content docker-logs-${{ inputs.distribution }}.log | Select-String -Pattern "Everything is ready.") {
            echo "${{ inputs.distribution }} started up correctly"
          } else {
            echo "${{ inputs.distribution }} failed to start"
            echo "Printing container logs below..."
            echo ""
            Get-Content docker-logs-${{ inputs.distribution }}.log
            exit 1
          }

      - name: Run golden tests
        if: matrix.GOOS == 'linux' && matrix.GOARCH == 'amd64' && inputs.distribution == 'otelcol-contrib'
        run: |
          echo "Running golden tests..."
          cd tests/golden
          MY_UID="$(id -u)" MY_GID="$(id -g)" IMG=${{ inputs.distribution }}:${{ env.TAG }} docker compose up -d --wait
          exit_code=$(docker wait golden)
          docker logs golden
          if [ "$exit_code" -ne 0 ]; then
            docker logs collector
            exit 1
          fi
