name: Continuous Integration - GoReleaser

on:
  push:
    branches: [main]
    paths:
    - ".goreleaser.yaml"
    - "distributions/axoflow-otel-collector/manifest.yaml"
  pull_request:
    branches: [main]
    paths:
    - ".goreleaser.yaml"
    - "distributions/axoflow-otel-collector/manifest.yaml"

jobs:
  check-goreleaser:
    name: Check GoReleaser Configuration
    strategy:
      matrix:
        GOOS: [linux]
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '~1.21.7'
          check-latest: true

      - name: Generate the sources
        run: make generate-sources

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser
          version: v1.24.0
          args: --snapshot --clean --skip-sign --skip-sbom --timeout 2h
        env:
          GOOS: ${{ matrix.GOOS }}
