name: Continuous Integration - GoReleaser

on:
  push:
    branches: [main]
    paths:
    - ".goreleaser.yaml"
    - "distributions/otelcol/manifest.yaml"
    - "distributions/otelcol-contrib/manifest.yaml"
  pull_request:
    branches: [main]
    paths:
    - ".goreleaser.yaml"
    - "distributions/otelcol/manifest.yaml"
    - "distributions/otelcol-contrib/manifest.yaml"

jobs:
  check-goreleaser:
    name: Check GoReleaser Configuration
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: arm64,ppc64le

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '~1.19.4'
          check-latest: true

      - name: Generate the sources
        run: make generate-sources

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          version: latest
          args: --snapshot --rm-dist --skip-sign --skip-sbom --timeout 2h
