name: Continuous Integration - GoReleaser

on:
  push:
    branches: [main]
    paths:
    - ".goreleaser.yaml"
    - "distributions/axoflow-otel-collector/manifest.yaml"
  pull_request:
    branches: [main]
    paths:
    - ".goreleaser.yaml"
    - "distributions/axoflow-otel-collector/manifest.yaml"

jobs:
  check-goreleaser:
    name: Check GoReleaser Configuration
    strategy:
      matrix:
        GOOS: [linux, windows]
        GOARCH: [amd64, arm64]
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Setup wixl # Required to build MSI packages for Windows
        if: ${{ matrix.GOOS == 'windows' && ( matrix.GOARCH == 'amd64') }}
        run: |
          sudo apt-get update
          sudo apt-get install -y wixl

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'
          check-latest: true

      - name: Generate the sources
        run: make generate-sources

      - name: Run GoReleaser for axoflow-otel-collector
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser-pro
          version: v2.3.2
          workdir: distributions/axoflow-otel-collector
          args: --snapshot --clean --skip=sign,sbom --timeout 2h --split
        env:
          GOOS: ${{ matrix.GOOS }}
          GOARCH: ${{ matrix.GOARCH }}
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
