name: CI - Collector Binaries

on:
  merge_group:
  push:
    branches:
      - main
      - release/*
  pull_request:
    branches:
      - main
      - release/*

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        distro:
          - otelcol
          - otelcol-contrib
          - otelcol-k8s
          - otelcol-otlp
          - otelcol-ebpf-profiler
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: "~1.25.0"
          check-latest: true

      - name: Tidy go.mod files
        run: go mod tidy

      - name: Verify
        run: make ci
        env:
          DISTRIBUTIONS: ${{ matrix.distro }}

  build-result:
    name: "Build Result"
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: echo "Build for all distros succeeded"
