name: Regression Tests

on:
  merge_group:
  push:
    branches:
      - main
      - release/*

permissions:
  contents: read

jobs:
  check-goreleaser:
    name: Check docker token
    runs-on: ubuntu-24.04
    steps:
      - name: Log into Docker.io using old token
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log into Docker.io
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN_COLLECTOR_RELEASES }}
